/*
    *** Code starts ***
*/

/* USRBG */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/*Custom Avatar Hint*/
@import url("https://custom-avatar-hints.github.io/hints/app/database.css");
@import url("https://custom-avatar-hints.github.io/hints/app/language-hell.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");

/* premium shit */
@import url('https://a-user-s-discord-themes.github.io/premium-shit/Custom%20color%20status/app.css');
@import url('https://a-user-s-discord-themes.github.io/premium-shit/Chat%20profile%20photo%20effects/app.css');

/* Font Importing */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/*
  ==> User vars <==
*/

/* Settings */
:root{
    /* Colors */
    --main-color: #419e85;

    /*Borders*/
    --avatar-radius: 8px;
    --rs-small-spacing: 0px;
    --rs-large-spacing: 0px;
    --rs-width: 3px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-streaming-color: #643da7;
    --rs-offline-color: #636b75;
    --rs-invisible-color: #747f8d;
}

/* Dark/Light vars */
.theme-dark{
    /*BGs*/
    --colornav: #060c24;
    --color1: #1e2337;
    --color2: #252a3e;
    --color3: #1c2438;
    --color4: #1b1d31;
    --colortransparency: #0003;
    /*Cards*/
    --card: #212332;
    /*Other stuff*/
    --textcolor: #fff;
    --epicshadow1: #fff3;
}

.theme-light{
    /*BGs*/
    --colornav: #fff;
    --color1: #f7f7f7;
    --color2: #fafafa;
    --color3: #fff;
    --color4: #eee;
    --colortransparency: #0001;
    /*Cards*/
    --card: #aaaaaa;
    /*Other stuff*/
    --textcolor: #000;
    --epicshadow1: #0003;
}


/* Dev Vars */

:root{
    --revision: "2";
}

/*
  ==> Other stuff <==
*/

/* premium shit configuration */
:root{
	--premium-shit-cppf-radius: var(--avatar-radius);
}

.cozy-3raOZG.groupStart-23k01U .contents-2mQqc9::after {
    left: 48px;
    width: 30px;
    height: 30px;
}

/* no dividers thx */

.content-yTz4x3:before, .divider-3FBTu8{
    display: none;
}

:root{
    --elevation-low: none;
}

.channelNotice-3DDmsB{
    box-shadow: none;
}

.attachWrapper-2TRKBi, .panel-24C3ux, .peopleListItem-2nzedh, .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY, .header-39GIC8, .headerCell-3L6rFG{
    border: none;
}

/* UNSET TEXT TRANSFORM SOMETIMES IS BETTER THAN UPPERCASE TEXT TRANSFORM */

.headerText-1HLrL7,
.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh,
.title-3sZWYQ,
.contentTitle-2tG_sM,
.header-2N-gMV,
.calendarPicker-2yf6Ci .react-datepicker__current-month,
:root .react-datepicker__day-name,
.subSectionHeader-1bsAit
{
    TEXT-TRANSFORM: UNSET;
}

/* masks are wild */
.mask-1l8v16 foreignObject{
    mask: none !important;
    border-radius: var(--avatar-radius) !important;
}

.userPopout-3XzG_A .mask-1l8v16 foreignObject{
    border-radius: calc(var(--avatar-radius) * 2) !important;
}

.mask-1l8v16 img{
    border-radius: 0px !important;
    z-index: 1000 !important;
}

.pointerEvents-2zdfdO{
    mask: none !important;
    rx: 30;
}

[mask="url(#svg-mask-status-typing)"]{
    rx: 6;
}

[mask*="mobile)"]{
    rx: 4;
}

.userPopout-3XzG_A .avatarHint-1qgaV3 foreignObject{
    mask: none !important;
    border-radius: calc(var(--avatar-radius) * 2) !important;
}

.root-SR8cQa .mask-1l8v16 foreignObject{
    border-radius: calc(var(--avatar-radius) * 2.1) !important;
}

/* Navbar */

.listItem-2P_4kh, .wrapper-1Rf91z{
    width: 90px;
}

.base-3dtUhz{
    left: 90px;
}

.scroller-2TZvBN{
    padding: 30px 0;
    background: var(--colornav);
}

.guilds-1SWlCJ .scrollerBase-289Jih > div:nth-last-child(1){
    margin-bottom: 80px;
}

.scroller-2TZvBN::-webkit-scrollbar{
    display: none;
}

.guilds-1SWlCJ::before{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    background: linear-gradient(360deg, var(--colornav), transparent);
    width:90px;
    height: 100px;
    pointer-events: none;
    z-index: 1;
}

/*Server Folders*/
.expandedFolderBackground-2sPsd-, .folder-21wGz3, .folder-21wGz3:hover{
    background: var(--color1);
    left:21px
}

/*Prings*/
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh{
    width: 100%;
    height: 30px;
    padding: 0;
}

.mention-1f5kbO{
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--colornav));
    transition: color .2s;
    opacity: 1;
    text-transform: capitalize;
    color: var(--textcolor);
    animation: fade .5s;
    border-radius: 0;
}

.mention-1f5kbO:hover{
    color: var(--main-color);
}

.unread-1s3J68{
    padding:0;
}

.unreadBar-3YD_k9{
    background: linear-gradient(180deg, transparent, var(--color3));
    border-radius: 0;
}

.unreadTop-73gZ2_ .unreadBar-3YD_k9{
    background: linear-gradient(360deg, transparent, var(--color1));
}

.unreadMentionsIndicatorBottom-BXS58x .mention-1f5kbO{
    background: transparent;
}


.listItem-2P_4kh:nth-last-child(1) .numberBadge-2s8kKX{
    box-shadow: 0 0 10px 0 #0008;
}

.numberBadge-2s8kKX{
    min-width: 25px;
    background: var(--main-color) !important;
    font-size: 8px;
}

/*Home Button*/
.scroller-2TZvBN > .tutorialContainer-1v44GL:nth-child(1) > .listItem-2P_4kh .childWrapper-anI2G9{
    background: var(--main-color);
    color: #fff;
}

.listItem-2P_4kh defs g:nth-last-child(1){
    display: none;
}

/*Servers*/
.svg-1X37T1, .wrapper-25eVIn{
    width: 42px;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
    background: var(--main-color);
}

.childWrapper-anI2G9{
    background: var(--color1);
}

.circleIconButton-jET_ig{
    border-radius: 14px;
    border: dashed 2px var(--epicshadow1);
    background: transparent;
    color: var(--epicshadow1);
    transition: all .2s;
}

.circleButtonMask-2VNJsN:hover .circleIconButton-jET_ig{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.circleButtonMask-2VNJsN svg > foreignObject{
    mask: none;
}

/* Channels / Members */

.container-3w7J-x, .privateChannels-1nO12o, .members-1998pB, .members-1998pB>div{
    background: var(--color1);
}

.scroller-1JbKMe{
    background: transparent;
}

/*Guild Nav*/
.clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj{
    background: transparent;
}
/*
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-3at_AU{
    background: var(--epicshadow1);
}*/

/*User Area*/
.panels-j1Uci_{
    background: var(--color3);
}

.container-3baos1:nth-last-child(1){
    padding: 10px 15px;
}

.container-3baos1:nth-last-child(1) .avatarWrapper-2yR4wp[aria-expanded="false"]{
    position: fixed;
    left:29px;
    bottom:29px;
    z-index: 1;
}

.title-eS5yk3{
    font-weight: 500;
}

.button-14-BFJ{
    color: #888;
}

:root [aria-checked="false"].enabled-2cQ-u7{
    color: var(--main-color);
}

/*Channels*/
.wrapper-CU3qI5, .layout-2DM8Md{
    padding: 0 22px;
}

.container-2ax-kl{
    color: var(--textcolor);
    text-transform: unset;
    font-size: 14px;
}

.icon-2yIBmh{
    display: none;
}

.container-3w7J-x .scroller-RmtA4e::-webkit-scrollbar, .scroller-1JbKMe::-webkit-scrollbar{
    display: none;
}

.content-1x5b-n{
    height: 30px;
    padding: 0 20px;
    margin:0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.wrapper-2jXpOf{
    height: 30px;
}

#channels::-webkit-scrollbar{
    display: none;
}

/*Reorganizing stuff*/

.container-PNkimc > div:nth-last-child(5){
    margin-top: 120px;
}

:root .channelNotice-1-XFjC, :root .channelNotice-3DDmsB{
    width: 170px;
    background:transparent;
    margin: 15px;
    padding: 20px;
    background: var(--color2);
    border-radius: 10px;
    box-shadow: unset;
    position: absolute;
    top:0;
    z-index: 10;
    height: 60px;
    transition: height 400ms;
}

.message-3SOT5P{
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}

.message-39hdqk{
    opacity: 0;
    margin-top: 30px;
    pointer-events: none;
    width: calc(100% + 20px);
    transition: opacity 400ms;
}

.channelNotice-1-XFjC::before, .channelNotice-3DDmsB::before{
    content: "announcement";
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    color: var(--textcolor);
    z-index: 1;
    font-size: 24px;
    font-family: "Material Icons", sans-serif;
    transition: opacity 200ms;
}

:root .channelNotice-1-XFjC:hover, :root .channelNotice-3DDmsB:hover{
    height: 160px;
}

:root .channelNotice-1-XFjC:hover .message-3SOT5P, :root .channelNotice-3DDmsB:hover .message-39hdqk{
    pointer-events: all;
    opacity: 1;
}

.channelNotice-1-XFjC:hover::before, .channelNotice-3DDmsB:hover::before{
    opacity: 0;
}

:root .message-3SOT5P .btn-11C5_u, :root .message-3SOT5P .btn-11C5_u:hover{
    background: var(--color4);
    margin: 0 auto;
    margin-top: 20px;
    z-index: 1;
    width: unset;
}

:root .channelNotice-3DDmsB .button-38aScr{
    background: var(--color4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}

:root .channelNotice-3DDmsB:hover .button-38aScr{
    opacity: 1;
    pointer-events: all;
}

.message-3SOT5P > div, .message-3SOT5P{
    margin-bottom: auto;
}

/*Members*/

.member-3-YXUe{
    margin-left: 0px;
    margin-right: 0px;
}

.membersGroup-v9BXpm.content-yTz4x3:before{
    padding-left: 30px;
    padding-right: 15px;
    color: var(--textcolor);
}

.members-1998pB::-webkit-scrollbar{
    display: none;
}


/* DM */

:root .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv{
    background: var(--color2);
}

.scroller-1IIF0A, .header-39GIC8, .scroller-9moviB{
    background: transparent;
}

.akaBadge-1M-1Gw{
    background: var(--main-color);
    color: #fff;
}

/*Left bar*/
.searchBar-6Kv8R2{
    position: absolute;
    top:0;
    width: calc(100% - 20px);
    left:0;
    background: linear-gradient(180deg, var(--color1), transparent);
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    background: var(--color2);
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
}

.channel-2QD9_O{
    margin: 0;
}

.layout-2DM8Md{
    width: calc(100% - 22px);
    border-radius: 0;
}

.privateChannels-1nO12o > .scroller-1JbKMe{
    padding-top: 48px;
}

/*Call*/
:root .wrapper-2qzCYF{
    background: var(--color1);
    margin: 15px;
    border-radius: 10px;
    animation: callzoom 2s ease;
}

:root .colorable-1bkp8v.primary-3NQg8g{
    background: var(--color2);
}

:root .noChat-18KtBD .colorable-1bkp8v.primary-3NQg8g, .participantsButton-KYW-IW, .participantsButton-KYW-IW:hover{
    background: var(--color1);
}

:root .noChat-18KtBD.wrapper-2qzCYF{
    background: #000;
    margin: 0;
    border-radius: 0;
    animation: unset;
}

:root .wrapper-3EGhDO .button-38aScr{
    border-radius: 50%;
}

.noChat-18KtBD .headerWrapper-3NUKsd .container-1r6BKw{
    width: unset;
}

.status-1WEaea{
    background: #fff;
    color: #000;
}

.status-1WEaea path:nth-last-child(1){
    color: #f04747;
}

.border-Jn5IOt.speaking-B2MXPi{
    box-shadow: inset 0 0 0 2.5px #43b581,inset 0 0 0 6px var(--color1);
}

.border-3dQmSY.speaking-WDn8Wm{
    box-shadow: inset 0 0 0 2.5px #43b581,inset 0 0 0 4.5px var(--color1);
}

.videoWrapper-2v09vt{
    background: var(--color2);
}

/*Friend List*/

.tabBody-3YRQ8W{ /* why discord */
    overflow: unset;
    z-index: 1;
}

.peopleColumn-29fq28 .scroller-2FKFPG{
    padding-top: 48px;
}

.actionButton-uPB8Fs{
    background: transparent;
}

.actionButton-uPB8Fs:hover{
    background: var(--color2);
}

/*Now playing*/
.nowPlayingColumn-2sl4cE{
    background: var(--color1);
    top:-48px;
    height: calc(100% + 48px);
    position: relative;
}

.header-13Cw0-{
    text-align: right;
    padding:16px;
    position: sticky;
    top:0;
    background: linear-gradient(360deg, transparent, var(--color1));
    z-index: 1;
}

.nowPlayingScroller-2XrVUt{
    padding:0;
}

.wrapper-3D2qGf{
    background: var(--color2);
    margin:16px;
    border-radius: 10px;
    box-shadow: unset;
    border:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

:root .outer-1AjyKL.active-1xchHY, :root .outer-1AjyKL.interactive-3B9GmY:hover{
    background: var(--cardhov);
}

:root .body-1ld4H7{
    background: var(--color3);
}

.itemCard-v9viV7:first-of-type{
    margin-top: 16px;
}

/*Nitro*/
:root .applicationStore-1pNvnv .container-1r6BKw{
    width: calc(100% - 240px);
    position: absolute;
    top:0;
    background: linear-gradient(180deg, var(--color2), transparent);
    z-index: 1;
}

.detailsBlock-FoDTGA{
    background: var(--color1);
    border-radius: 15px;
}

/* Chat */

.title-3qD0b-{
    z-index: 1;
}

.chat-3bRxxu, .messages-3amgkR, .wrapper-3vR61M, .wrapper-1F5TKx{
    background: var(--color2);
}

.container-1r6BKw.themed-ANHk51{
    background: transparent;
}

.messages-3amgkR::-webkit-scrollbar, .peopleColumn-29fq28 .scroller-2FKFPG::-webkit-scrollbar{
    width: 8px;
}

.messages-3amgkR::-webkit-scrollbar-thumb, .peopleColumn-29fq28 .scroller-2FKFPG::-webkit-scrollbar-thumb{
    border:none;
    background: var(--color1) !important;
    border-radius: 6px 0 0 6px;
}

.messages-3amgkR::-webkit-scrollbar-track-piece, .peopleColumn-29fq28 .scroller-2FKFPG::-webkit-scrollbar-track-piece{
    display: none;
}

.wrapper-2aW0bm{
    border:none;
    box-shadow: none;
    background: var(--color1);
}

:root .wrapper-2aW0bm:hover{
    box-shadow: none;
}

/*Bot tags*/
:root .botTagRegular-2HEhHi{
    border-radius: 5px;
    background: var(--main-color);
}

:root .botTagInvert-18-95s{
    color: var(--main-color);
}

/*Mentions*/
.wrapper-3WhCwL{
    background:transparent;
    position: relative;
    color: var(--main-color);
}

.wrapper-3WhCwL:hover{
    background: var(--main-color);
}

.mention{
    border-radius: 5px;
}

.wrapper-3WhCwL::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .15;
    border-radius: 5px;
    pointer-events: none;
}

/*Mesage Dividers*/
:root .divider-JfaTT5{
    margin: 0 56px;
    border: none;
    height: unset;
}

.content-1o0f9g, #---new-messages-bar .unreadPill-2HyYtt{
    background: var(--color1);
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height: unset;
}

.unreadPill-2HyYtt{
    position: relative;
    color: #f04747;
    top:0;
}

.unreadPillCap-3_K2q2{
    display: none;
}

.content-1o0f9g + .unreadPill-2HyYtt{
    position: absolute;
    width: unset;
}

:root .isUnread-3Ef-o9:not(.hasContent-1cNJDh){
    margin: 10px 47px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/*Autocomplete*/
:root .autocomplete-Z9HwQh{
    background: var(--color1);
    bottom: calc(100% - 8px);
    border-radius: 8px 8px 0 0;
    box-shadow: none;
}

:root .contentTitle-2tG_sM{
    color: var(--textcolor);
}

:root .selectorSelected-1_M1WV{
    background: var(--color2);
}

/*Attachments and Audio*/
:root .attachment-33OFj0, :root .wrapperAudio-1jDe0Q{
    background: var(--color1);
    border: none;
    border-radius: 7px;
}

.wrapperAudio-1jDe0Q{
    padding: 0;
}

.audioMetadata-3zOuGv{
    padding: 10px;
}

.audioControls-2HsaU6{
    background: transparent;
}

.mediaBarWrapper-3D7r67:hover{
    box-shadow: none;
}

:root .mediaBarGrabber-1FqnbN, .mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before{
    background: var(--main-color) !important;
}

/*Embeds*/
.embedFull-2tM8--{
    width: calc(100% + 100px);
    max-width: unset !important;
    left: -50px;
    border-radius: 0;
    background: var(--color1);
    border-color: var(--color4);
    position: relative;
    overflow: hidden;
}

.theme-light .embedFull-2tM8--{
    background: var(--color4);
    border-color: var(--card);
}

.grid-1nZz7S{
    margin-left: 34px;
    margin-right: 12px;
}

/*Spotify embeds*/
.embedSpotify-tvxDCr{
    border-radius: 5px;
}

/*Gifts*/
:root .tile-2OwFgW, :root .tile-2OwFgW:hover{
    transform: translateZ(0);
    overflow: hidden;
    background: var(--color1);
}

:root .invalidPoop-pnUbq7{
    background: var(--color4);
    position: relative;
}

:root .invalidPoop-pnUbq7::after{
    content: ">_<";
    animation: blink 8s;
    animation-iteration-count: infinite;
    font-size: 50px;
    color: var(--textcolor);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.tile-2OwFgW .media-gfq_4j{
    height: 0;
    width: 0;
}

.tile-2OwFgW .splash-3K76bN{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    filter: blur(20px);
    opacity: .3;
    mask-image: linear-gradient(#000b, #000b); /*vscode thing*/
    -webkit-mask-image: linear-gradient(#000b, #000b);
}

:root .tile-2OwFgW .description-1RsfgZ{
    color: #fff;
}

:root .tile-2OwFgW .tagline-2nvxi0{
    color: #eee;
}
/* Uploading */
.progressBar-3u8FBM{
    border-radius: 0;
    background: #419e85 !important;
}

/*Typing bar*/
:root .children-19S4PO:after{
    background: linear-gradient(90deg,transparent 0,var(--color2));
}

.followButton-L6L-Us{
    display: none;
}

.scrollableContainer-2NUZem, .wrapper-39oAo3{
    background: var(--color1);
}

.attachButtonPlus-jWVFah, .attachButton-2WznTc:hover .attachButtonPlus-jWVFah{
    fill: var(--main-color);
}

.systemPad-3UxEGl::-webkit-scrollbar-track-piece{
    display: none;
}

.systemPad-3UxEGl::-webkit-scrollbar-thumb{
    background-color: var(--epicshadow1) !important;
}

.channelTextAreaDisabled-8rmlrp {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

:root .form-2fGMdU:before{
    background: linear-gradient(180deg,transparent 0,var(--color2));
}

.typing-2GQL18 {
    z-index: 0;
}

/*Attach or create invite*/
.popoutTopLeft-3B0mFf.noArrow-2foL9g.noShadow-3pu20z{
    margin-bottom: 0px;
    margin-top: 8px;
}

.attachPopout-36hjtN{
    background: var(--color1);
    box-shadow: none;
    border-radius: 8px 8px 0 0;
    padding: 8px 0;
}

.attachPopoutRow-3iqqu1{
    padding: 8px 16px;
    border-radius: 0;
}

/*Invite Spotify*/
:root .invite-18yqGF{
    background: var(--color1);
    border: none;
}

/*Top bar*/
.container-1r6BKw{
    width: calc(100% - 240px);
}

.membersWrap-2h-GB4{
    margin-top: -48px;
}

.members-1998pB{
    padding-top: 48px;
}

/*Search*/
.search-36MZv-, .inner-2P4tQO{
    position: fixed;
    right: 10px;
}

.icon-3cZ1F_, .icon-1S6UIr{
    color: var(--main-color);
}

.inner-2P4tQO{
    background: var(--color1);
    width: 225px;
    height: 28px;
    padding: 2px 10px;
    border-radius: 4px;
}

.iconLayout-3OgqU3{
    width: 24px;
    height: 24px;
}

.platform-win .chat-3bRxxu .wrapper-2qzCYF:not(.minimum-28Z35l) .search-36MZv-, .platform-win .chat-3bRxxu .wrapper-2qzCYF:not(.minimum-28Z35l) .inner-2P4tQO {
    top: 50px;
}


.searchBar-3dMhjb{
    height: 28px;
    background: var(--color2);
    padding: 2px 10px;
}

.searchBar-3dMhjb, .focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb{
    width: 200px;
}

/*Search Wrapper*/
.searchResultsWrap-3-pOjs{
    background: var(--color1);
    top: -48px;
    padding-top: 48px;
    height: 100%;
}

.scroller-3GIiMh{
    padding: 0;
    padding-top: 48px;
}

.scroller-3GIiMh > div{
    padding: 0 14px 0 20px;
}

.searchResultMessage-1fxgXh.sibling-1eJVjd{
    display: none;
}

.searchResult-9tQ1uo:after, .searchResult-9tQ1uo:before{
    display: none;
}

.channelSeparator-1DOiGt{
    display: flex;
    justify-content: center;
}

.channelSeparator-1DOiGt:before{
    display: none;
}

.channelName-1JRO3C{
    background: transparent;
    padding: 8px 0;
}

.searchResultMessage-1fxgXh.hit-1fVM9e{
    background: var(--color2);
    border: none;
    box-shadow: none;
    border-radius: 10px;
}

.jumpButton-JkYoYK{
    background: var(--color1);
    font-size: 12px;
    height: unset;
    padding: 4px 8px;
}

.searchHeader-2XoQg7{
    position: absolute;
    width: calc(100% - 40px);
    background: linear-gradient(180deg, var(--color1), transparent);
}

.tab-2j5AEF.selected-2LAck8, .tab-2j5AEF:hover{
    border-bottom: unset;
}

/*Messages*/

.avatar-1BDn8e{
    position: relative;
    left:-2px;
    width: 30px;
    height: 30px;
    border-radius: var(--avatar-radius);
    -webkit-border-radius: var(--avatar-radius);
    -moz-border-radius: var(--avatar-radius);
    -ms-border-radius: var(--avatar-radius);
    -o-border-radius: var(--avatar-radius);
}

.cozy-3raOZG .header-23xsNx{
    left:38px;
    margin-top: -25px;
    margin-bottom: 6px;
    width: 100%;
}

.cozy-3raOZG.wrapper-2a6GCs{
    padding-left: 50px;
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt{
    position: absolute;
    font-size: 0.6875rem !important;
    right: 10px;
    left:unset;
    opacity: 0;
}

.cozy-3raOZG:hover .timestamp-3ZCmNB{opacity: 1;}

.header-2o-2hj{
    padding:25px;
}

.messagesWrapper-3lZDfY{
    flex-direction: column;
}

/*Pins*/
.iconContainer-3GkGRf{
    position: unset;
    width: unset;
    margin-right: 10px;
}

/*Blockquotes*/

.blockquoteDivider-2hH8H6{
    display: none;
}

.blockquoteContainer-U5TVEi blockquote{
    padding: 12px;
    background: var(--color1);
    border-radius: 4px;
    width: 100%;
}

.channelTextArea-rNsIhG .blockquoteContainer-U5TVEi blockquote{
    background: var(--color2);
}

/*Server invite*/

:root .wrapper-35wsBm{
    background: var(--color1);
    border-radius: 10px;
}

.wrapper-35wsBm .header-2BTCnc{
    display: none;
}

.count-30T-5k{
    font-weight: 500;
    color: var(--textcolor);
}

.markup-2BOw-j code{
    background: var(--color1);
    border: none;
    border-radius: 10px;
}

.hljs .powercord-lines:after, .powercord-codeblock-lang{
    border: none;
}

.powercord-codeblock-lang{
    padding: 3px 10px;
}

/*New Messages*/

.newMessagesBar-mujexs{
    margin: 0 40px;
    margin-top: 5px;
    position: static;
    opacity: 1;
    padding:5px;
    background: var(--color1);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
}

.barButtonAlt-3gIkIj{
    display: none;
}

.barButtonMain-1giYuj{
    opacity: .6;
}


/* Ruindows support */

body{
    background: transparent;
}

.withFrame-haYltI{
    background: var(--colornav);
    padding: 8px 16px;
    height: 24px;
    margin-top: unset;
    position: absolute;
    left: 90px;
    width: calc(100% - 122px);
    z-index: 1;
}

.wordmark-2iDDfm{
    top:unset;
    left:16px;
    color: transparent;
}

.winButton-iRh8-Z{
    color: var(--textcolor);
    top: -8px;
    height: 40px;
    width: 56px;
    right: -16px;
}

body.maximized .winButtonClose-1HsbF- + .winButtonMinMax-PBQ2gm svg{
    opacity: 0;
}

.winButtonClose-1HsbF- + .winButtonMinMax-PBQ2gm::before{
    content: "";
    position: absolute;
    top:10px;
    left:18px;
    width:18px;
    height: 18px;
    background: url("https://cdn.discordapp.com/attachments/539180316447997974/713920529622630411/aaaaaaaaa.svg") no-repeat;
    background-size: contain;
    opacity: 0;
}

.theme-light .winButtonClose-1HsbF- + .winButtonMinMax-PBQ2gm::before{
    background-image: url("https://cdn.discordapp.com/attachments/539180316447997974/713920227582279810/aaaaaaaaa.svg");
}

body.maximized .winButtonClose-1HsbF- + .winButtonMinMax-PBQ2gm::before{
    opacity: 1;
}

.platform-win .base-3dtUhz{
    top:40px;
}

.platform-win .scroller-2TZvBN{
    padding-top: 20px;
}

.base-3dtUhz{
    background: var(--colornav);
}

.platform-win .layer-3QrUeG:not(.baseLayer-35bLyl){
    margin-top: 40px;
}

html:not(.platform-linux) body:not(.maximized).transparent .appMount-3lHmkl{
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 10px 0 var(--colornav);
    top:10px;
    left:10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    transform: translateZ(0);
}

.platform-win .recentMentionsPopout-3rCiI6, .platform-win .root-3R2ngo{
    top: 40px;
}

.appMount-3lHmkl{
    background: var(--colornav);
}

.platform-win .app-1q1i1E > div:nth-last-child(2) .content-98HsJk::before{
    border-radius: 8px 0 0;
}

.platform-win .app-1q1i1E > div:nth-last-child(2) .search-36MZv-, .platform-win .app-1q1i1E > div:nth-last-child(2) .inner-2P4tQO{
    top: 80px;
}

/*Dates*/

.divider-JfaTT5{
    background: transparent;
}

/* MacOS Support */

.platform-osx .wrapper-1Rf91z{
    margin: 0;
}

.platform-osx .wrapper-1Rf91z .scroller-2TZvBN{
    padding-top: 40px;
}

.platform-osx .wrapper-1Rf91z::after{
    content: "";
    position: absolute;
    height: 32px;
    width: 100%;
    top:0;
    left:0;
    background: linear-gradient(180deg, var(--colornav), transparent);
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh{
    top:20px;
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh .mention-1f5kbO{
    background: transparent;
}

.icon-22AiRD{
    -webkit-app-region: unset;
}

.toolbar-1t6TWx, .topic-TCb_qw{
    -webkit-app-region: no-drag;
}

/* Settings */

.layer-3QrUeG{
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
}

.layer-3QrUeG.baseLayer-35bLyl{
    opacity: 1 !important;
}

.layer-3QrUeG:not(.baseLayer-35bLyl){
    margin-left: 90px;
}

.sidebarRegionScroller-3MXcoP{
    justify-content: flex-start;
    background: var(--color1);
}

.sidebarRegionScroller-3MXcoP::-webkit-scrollbar{
    display: none;
}

.contentRegion-3nDuYy{
    background: var(--color2);
}

.contentRegionScroller-26nc1e{
    background: transparent;
}

.sidebarRegion-VFTUkN{
    flex: unset;
}

.contentColumn-2hrIYH, .customColumn-Rb6toI{
    max-width: unset;
}

.contentColumnDefault-1VQkGM{
    padding-right: 100px;
}

.sidebar-CFHs9e{
    width: 240px;
}

.sidebar-CFHs9e, .flexChild-faoVW3{
    padding-left: 0 !important; padding-right: 0 !important;
}

.scroller-305q3I{
    background: transparent;
}

.scroller-305q3I::-webkit-scrollbar{
    display: none;
}

.ghostPill-2-KUPM {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.closeButton-1tv5uR:active{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.closeButton-1tv5uR::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:90px;
    z-index: 100;
}

/*Buttons and specific elements*/

.button-38aScr{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:hover{
    background: var(--main-color) !important;
}

.switch-3wwwcV{
    width: 42px;
    height: 24px;
}

.switch-3wwwcV, .button-38aScr{
    transition: box-shadow 200ms;
    -webkit-transition: box-shadow 200ms;
    -moz-transition: box-shadow 200ms;
    -ms-transition: box-shadow 200ms;
    -o-transition: box-shadow 200ms;
}

.themeDefault-24hCdX.sizeDefault-2YlOZr{
    box-shadow: unset;
}

.switch-3wwwcV:hover, .button-38aScr:not(.lookOutlined-3sRXeN):not(.lookLink-9FtZy-):not(.lookBlank-3eh9lL):hover{
    box-shadow: 0 0 0 3px var(--epicshadow1);
}

:root .value-2hFrkk:after{
    box-shadow: none;
    border-radius: 50%;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ{
    background: var(--main-color);
}

.item-26Dhrx[style*="background-color"]{
    background: var(--main-color) !important;
}

:root .checked-3_4uQ9{
    border: none;
}

.checkbox-1ix_J3{
    border-radius: 50%;
}

.checked-3_4uQ9 polyline{
    stroke: transparent;
}

:root .bar-2Qqk5Z{
    background: var(--color4);
}

.barFill-23-gu-{
    background: var(--main-color);
}

.grabber-3mFHz2{
    box-shadow: none;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
}

.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .cardPrimaryOutline-29Ujqw{
    border: none;
    background: var(--color1);
    border-radius: 10px;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs{
    background-color: transparent;
}

:root .connection-1fbD7X{
    box-shadow: none;
}

.connectionHeader-2MDqhu{
    border-bottom: none;
    background: transparent;
}

.connectionDelete-2Odoln{
    border-color: transparent;
    border-radius: 50%;
    transition: background 100ms;
}

.connectionDelete-2Odoln:hover{
    background: #fff2;
}

:root .codeRedemptionRedirect-1wVR4b{
    background: var(--color1);
    border: none;
}

.guildHeader-3nh5RK, .guildSubscriptionSlots-JPXXvN{
    background: transparent;
}

.guildSubscriptionSlot-1XGRPI{
    border-bottom: none;
}

.guildHeaderBackground-1G51bM{
    display: none;
}

.cardWrapper-2Min21, .guild-Hq0WWA{
    transform: translateZ(0);
    overflow: hidden;
    background: #0008;
    --header-primary: #fff;
}

:root .tierLabel-39IsmN{
    color: #fff;
    font-weight: 500;
}

:root .gemWithoutLabel-7-ZvB_{
    color: #999;
}

.cardWrapper-2Min21 .icon-3o6xvg::before, .guild-Hq0WWA .guildIcon-c10VUR::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    filter: blur(20px);
    opacity: .5;
}

.guild-Hq0WWA .guildIcon-c10VUR::before{
    filter: blur(40px);
}

:root .gemIndicatorContainer-2jdECl{
    background: transparent;
    backdrop-filter: blur(5px);
}

.input-cIJ7To{
    border:none;
    background: var(--color4);
    transition: background .4s;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus{
    background: var(--color1);
}

.membershipDialog-rVL-t_{
    border-radius: 10px;
    background: var(--color1);
}

.membershipDialog-rVL-t_:after{
    left:5px;
}

.videoWrapper-3YdgHH{
    background: transparent;
}

.videoWrapper-3YdgHH iframe{
    margin: auto;
    border-radius: 10px;
}

.css-1a8reka-control, .css-2yldzf-control, .css-1yegjoj-control{
    background: var(--color1);
    border: none !important;
    cursor: pointer;
    border-radius: 7px;
}

.css-n57xjs-menu{
    background: var(--color1);
    border:none;
    border-radius: 7px;
    margin-top: -7px;
}

.css-12o7ek3-option{
    background: var(--color4)
}

:root .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{
    background: var(--color1);
    border: none;
    border-radius: 7px;
}

.userSettingsVoice-iwdUCU .media-engine-video{
    border-radius: 10px;
}

.notificationSettings-1NQKPR{
    max-width: unset;
}

.wrapper-3jrx9n{
    border: none;
    background: var(--color1);
    border-radius: 20px;
}

.option-n0icdO{
    margin:10px;
    border-radius: 16px;
    background: var(--epicshadow1);
}

.option-n0icdO:hover{
    background: var(--main-color);
    opacity: .4;
}

.selected-mKYnfr.option-n0icdO{
    background: var(--main-color);
    box-shadow: unset;
}

/*when you print the settings page and u forget to blur the email™️*/

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1{
    filter: blur(5px);
    transition: filter .5s;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
}

/*Side settings*/

.side-8zPYf6 .header-2RyJ0Y, .side-8zPYf6 .item-PXvHYJ{
    padding: 6px 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.side-8zPYf6 .item-PXvHYJ:hover{
    background: var(--color3);
}

.socialLinks-3jqNFy{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.powercord-pc-icon::before{
    top:0;
    width: 20px;
    height: 16px;
}

.powercord-pc-icon svg{
    border: none;
}

.info-1VyQPT{
    text-align: center;
}

/* Specific menus */

.styleFixed-sX-yHV{
    background: var(--color2);
    box-shadow: unset;
}

.styleFlexible-wGDiIL, .submenu-2-ysNh{
    background: var(--color3);
    box-shadow: unset;
}

.button-F9qN4n,.button-F9qN4n:hover{
    background: var(--color2);
}

.item-1tOPte{
    margin: 0;
    border-radius: 0;
    padding:8px 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/*Status Selector*/

/*- Main container*/

#status-picker{
    position:fixed;
    top: 0px;
    left:0;
    width:340px;
    height: 100vh;
    max-height: unset;
    animation:sidebarStatusTransalteX .5s ease, fade .4s ease;
    padding:0;
    border-radius:0;
    padding-top:168px;
    -webkit-animation:sidebarStatusTransalteX .5s ease, fade .4s ease;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    background: var(--colornav);
}

.full-motion .animatorTop-2Y7x2r{
    transition: unset !important;
    -webkit-transition: unset !important;
    -moz-transition: unset !important;
    -ms-transition: unset !important;
    -o-transition: unset !important;
}

.scroller-3BxosC{
    overflow-y: auto !important;
    padding-left: 0;
}

.scroller-3BxosC::-webkit-scrollbar-thumb{
    background: var(--epicshadow1);
}

/*- Inner container (menu items, dividers, etc)*/

#status-picker .item-1tOPte{
    margin:0;
    padding:0 16px;
    min-height:64px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-size:14px;
    font-weight:500;
    flex-direction:row;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.statusItem-33LqPf{
    grid-template-areas:
        "icon status"
        "icon description";
}

.customStatusItem-1TTIxM{
    grid-template-areas: "status clear";
    gap: 10px;
}

:root .customStatusWithEmoji-8-XZ8I{
    grid-template-areas:
        "icon status clear";
    grid-template-columns: 26px 1fr 40px;
}

.clearStatusIcon-3-MDNF{
    margin-left: 0;
    margin-right: 6px;
}

.icon-1IxfJ2{
    width: 15px;
    height: 15px;
}

.colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O){
    background: var(--epicshadow1);
}

.separator-2I32lJ{
    display: none;
}

/*- fix the stupid thing discord broke*/

#status-picker {
    top: unset !important;
    left: 30px !important;
}

/*- User info*/

.avatarWrapper-2yR4wp[aria-expanded="true"]{
	position:fixed;
	top:0;
	left:0;
	z-index:1003 !important;
	width:308px;
	display:flex;
	justify-content:center;
	animation:sidebarStatusTransalteX .6s ease, fade .85s ease;
	background:var(--color1);
	box-sizing:border-box;
	border-radius:5px;
	margin:15px 16px;
	padding:12px;
	height:136px;
	pointer-events: none;
	-webkit-animation:sidebarStatusTransalteX .6s ease, fade .85s ease;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] .wrapper-3t9DeA{
	width:64px !important;
    height:64px !important;
    pointer-events: none;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .nameTag-3uD-yy{
	position:fixed;
	z-index:1003;
	top:16px;
	width:308px;
	animation:sidebarStatusTransalteX .6s ease, fade .85s ease;
	left:0;
	margin:0 16px;
	text-align:center;
	margin-top:88px;
	-webkit-animation:sidebarStatusTransalteX .6s ease, fade .85s ease;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .nameTag-3uD-yy .subtext-3CDbHg .default-3sgIpy, .avatarWrapper-2yR4wp[aria-expanded="true"] ~ .nameTag-3uD-yy .subtext-3CDbHg  .hovered-d5PMVU{
    text-align: center;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .nameTag-3uD-yy .usernameContainer-1fp4nu{
	justify-content:center;
	font-size:18px;
	font-weight:600;
	margin-bottom:4px;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .nameTag-3uD-yy .usernameContainer-1fp4nu .title-eS5yk3{
	font-size:inherit;
	font-weight:inherit;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .flex-1xMQg5{
	position:fixed;
	z-index:1003;
	bottom:0;
	left:0;
	padding:0 16px;
	height:58px;
	align-items:center;
	width:308px;
	animation:sidebarStatusTransalteX .5s ease, fade .75s ease;
	justify-content:flex-end;
	-webkit-animation:sidebarStatusTransalteX .5s ease, fade .75s ease;
}

/* Tooltips */

:root .tooltipBlack-PPG47z{
    background: #fff;
    color: #000;
}

.tooltipPointer-3ZfirK{
    border-top-color: #fff !important;
}

:root .activityIcon-c4ew_N{
    color: #222;
}

.button-1I8KM5{
    background: transparent;
}

.button-1I8KM5:hover{
    background: #0003;
}

/* Emoji picker */

.emojiPicker-3PwZFl .scroller-2FKFPG{
    padding-bottom: 56px;
}

.inspector-sdLnLS{
    position: absolute;
    bottom:0;
    right: 0;
    left: 48px;
    background: linear-gradient(360deg, var(--color1), transparent);
}

.positionContainer-DEuh7X .inspector-sdLnLS{
    top:-50px;
    width: 250px;
    right: 0px;
    bottom: unset;
    left: unset;
    background: transparent;
    justify-content: end;
}

.emojiPickerInExpressionPicker-3IzIcv .emojiPicker-3PwZFl{
    grid-template-rows: 46px auto 0;
}

.positionContainer-3unAXC{
    height: 414px;
}

.wrapper-2N7X54{
    background: transparent;
}

.contentWrapper-2txmjs, .contentWrapper-SvZHNd, .wrapper-1-Fsb8, .emojiPicker-3PwZFl{
    background: var(--color1);
    box-shadow: unset;
}

.contentWrapper-SvZHNd{
    border-radius: 8px 8px 0 0;
}

.categoryWrapper-UZ5YNj, .wrapper-2Gsate{
    background: var(--color1);
}

.container-2XeR5Z{
    background: var(--color2);
}

.unicodeShortcut-15J8Ck{
    background: linear-gradient(180deg, transparent, var(--color1));
}

.header-8ilj5e{
    padding-left: 30px;
}

.positionContainer-DEuh7X {
    bottom: calc(100% - 8px);
    transform: translateZ(0);
}

.wrapper-1rqM3x{
    margin-bottom: 8px;
}

.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover{
    background: var(--color2);
}

.navButtonActive-1MkytQ{
    background: var(--color2);
}

/*Resizing*/

.resizeHandle-3NRr0z::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: calc(100% + 36px);
    background: #0005;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.resizeHandle-3NRr0z:active::before{
    opacity: 1;
    pointer-events: all;
}

/*discord's capitalism*/
.premiumPromo-fVlLu-{
    background: var(--color1);
    opacity: 1;
    animation: fade .3s ease, zoom .3s ease;
}

/*GIF*/

:root .contentWrapper-SvZHNd .inner-2P4tQO{
    top:14px;
    background: var(--color2);
}

:root .input-3Xdcic{
    font-size: 12px;
    line-height: unset;
    height: 28px;
    margin: 0;
    margin-top: -2px;
    padding: 0 8px;
}

:root .iconLayout-3OgqU3{
    width: 24px;
    height: 24px;
}

/* Upload Modal */

:root .uploadModal-2ifh8j{
    background: var(--color2);
    box-shadow: unset;
    width: 1000px;
    height: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_{
    margin-left: 55%;
    margin-right: 30px;
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2{
    text-transform: unset;
    font-size: 12px;
    opacity: .8;
}

.scrollableContainer-2NUZem.webkit-HjD9Er{
    max-height: 215px;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K{
    height: 75px;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5{
    font-weight: 550;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j, .uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr{
    position: fixed;
    top:20px;
    left: 10px;
    width: 48%;
    height: 350px;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: unset;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr{
    background-color: var(--color1);
    background-size: 70px;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.video-27RLEH{
    background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623014334791720/videocam-white-18dp.svg);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.acrobat-3K1PC6{
    background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623972791975936/picture_as_pdf-white-18dp.svg);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_{
    margin-top: 15px;
}

.uploadModal-2ifh8j .footer-3mqk7D{
    background-color: transparent;
    box-shadow: unset;

    position: absolute;
    right: 20px;
    bottom:10px;
}

.uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG .checkbox-1ix_J3{
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG .checkbox-1ix_J3::before{
    content: "visibility";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #0008;
    text-align: center;
    line-height: 350px;
    color: #fff6;
    font-size: 72px;
    font-family: "Material Icons", sans-serif;
    visibility: visible;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}

.uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG .checkbox-1ix_J3:hover, .uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9{
    opacity: 1;
}

.uploadModal-2ifh8j .footer-3mqk7D .checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9::before{
    color: var(--textcolor);
    content: "visibility_off";
}

.uploadModal-2ifh8j .labelForward-1wfipV{
    display: none;
}

/* Version */

.info-1VyQPT .size12-3cLvbJ:last-child::after{
    content: "\a Couve v1 Revision " var(--revision);
    text-transform: none;
    white-space: pre;
}

/* User popout */

:root .bodyInner-245q0L, :root .footer-1fjuF6{
    background: transparent;
}

.userPopout-3XzG_A{
    background: var(--color1);
    box-shadow:unset !important;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*Animation*/
:root.full-motion .translate-2dAEQ6{
    transform: translateZ(0);
    animation: zoom .3s ease, fade .3s ease;
}

/*Top*/

.header-2BwW8b{
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

:root .headerNormal-T_seeN{
    background: var(--color4);
}

.headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT{
    padding-bottom: 0px;
}

.activity-11LB_k{
    padding-bottom: 40px;
    backdrop-filter: blur(8px);
}

.headerPlaying-j0WQBV{
    background: var(--main-color);
}

.headerStreaming-2FjmGz{
    background: #593695;
}

/*Body*/

:root .body-3iLsc4, :root .footer-1fjuF6{
    background: transparent;
}

.role-2irmRk{
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}

.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}

/*Bottom*/

.footer-1fjuF6{
    border-top: none;
}

:root .quickMessage-1yeL4E{
    background: var(--color2);
    border: none;
}

/*Player*/
.userPopout-3XzG_A .bar-3urHkF{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
    pointer-events: none;
    border-radius: 0;
    background: transparent;
}

.userPopout-3XzG_A .barInner-3NDaY_{
    background: #fff2;
    border-radius: 0;
}

/*USRBG*/
.userPopout-3XzG_A .header-2BwW8b{
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
    background-image: var(--user-background);
    mask-image: linear-gradient(#000, #0006); /*vscode thing*/
    -webkit-mask-image: linear-gradient(#000, #0006);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/*Custom Avatar Hint*/

.avatarHint-1qgaV3 .avatarHintInner-Dco91E{
    font-size: 0;
    text-transform: none;
}

.avatarHint-1qgaV3 .avatarHintInner-Dco91E::after{
    white-space: normal;
    text-align: center;
    content: var(--avatar-hint-text);
    color: var(--avatar-hint-color);
    font-size: var(--avatar-hint-size);
    font-family: var(--avatar-hint-font);
}

/* Inbox */

.recentMentionsPopout-3rCiI6{
    position: fixed;
    top:0;
    right: 0;
    max-height: 100% !important;
    animation:sidebarStatusTransalteXReverse .5s ease, fade .4s ease;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-animation:sidebarStatusTransalteXReverse .5s ease, fade .4s ease;
}

.recentMentionsPopout-3rCiI6, .container-PbeQka{
    background: var(--color1);
    box-shadow: var(--elevation-high);
}

/*Top*/
.header-ykumBX{
    background: linear-gradient(360deg, transparent, var(--color1));
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 10;
}

.topPill-30KHOu{
    margin: 0 autot
}

:root .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa{
    background: var(--color2);
}

.secondary-dIudih{
    position: absolute;
    right: 16px;
    background: transparent;
}

.secondary-dIudih:hover{
    background: var(--color2);
}

/*Body*/
.channelHeader-3Gd2xq{
    position: relative;
}

.messagesPopout-24nkyi, .container-PbeQka .scroller-2FKFPG{
    padding-top: 56px;
}

/*Tutorial*/
.tutorial-3w5I9h{
    background: var(--color2);
    margin-top: 66px;
}

.tutorialIcon-3f1miQ{
    background: var(--color1);
    color: #fff;
}

/*Card*/
.channelHeader-3Gd2xq{
    background: transparent;
}

.messageContainer-gbhlwo, .messages-3G3erD{
    background: var(--color2);
}

.tertiary-aMXF0g{
    background: var(--color2);
}

/*Pinned messages*/

.messagesPopoutWrap-1MQ1bW{
    position: fixed;
    top: 48px;
    left: 330px;
    max-height: calc(100% - 48px) !important;
    height: 100%;
    width: calc(100% - 570px);
    box-shadow: unset;
    background: var(--color2);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.messagesPopoutWrap-1MQ1bW .header-ykumBX{
    background: linear-gradient(360deg, transparent, var(--color2));
    text-align: center;
}

.messageGroupWrapper-o-Zw7G{
    border: none;
    background: var(--color1);
    margin-bottom: 32px;
}

.messagesPopout-24nkyi {
    padding: 0 32px;
}

.messagesPopout-24nkyi, .container-PbeQka .scroller-2FKFPG {
    padding-top: 56px;
}

.footer-1kmXd4{
    background: transparent;
}

/* User Modal */

.root-SR8cQa{
    background: transparent;
    width: 800px;
    flex-direction: row;
    overflow: unset;
    position: relative;
}

/*Header*/
.topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P, .topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X{
    background: var(--color1);
    width: 40%;
    border-radius: 10px 0 0 10px;
}

/* for some stupid reason cutecord badges use this class so we need to stop that from breaking */
.topSectionNormal-2-vo2m.cutecord-badges, .topSectionNormal-2-vo2m.bf-badge {
    width: unset !important;
    background: transparent;
}

.topSectionStreaming-1Tpf5X{
    background: #593695;
}

.headerFill-adLl4x{
    background: transparent;
}

.activityHeader-1PExlk{
    display: none;
}

.header-QKLPzZ .button-38aScr{
    position: absolute;
    bottom:18px;
    z-index: 1;
    left: 18px;
}

.header-QKLPzZ .button-38aScr + div{
    position: absolute;
    bottom: 22px;
    right: calc(22px + 60%);
}

.tabBarContainer-1s1u-z{
    border-top: unset;
}

.tabBar-2MuP6-{
    flex-direction: column;
}

.top-28JiJ- .item-PXvHYJ{
    height: 40px;
    border-bottom: unset;
}

/*Custom Status*/
.activity-1ythUs{
    position: absolute;
    bottom:18px;
    right: 18px;
    padding: 0;
}

.customStatus-154i-H{
    max-width: 130px;
}

/*Player*/

.assetsLargeImageActivityFeed-25vA7H, .assetsLargeImageActivityFeedXbox-3Tr-tf, .assetsLargeImageProfile-3YXDex{
    width: 40px;
    height: 40px;
}

.activityProfile-2bJRaP{
    right: unset;
    bottom:-140px;
    left:5px;
    width: 750px;
    padding: 20px;
}

.state-Tt0LO3{
    display: none;
}

/*Body*/

.body-3ND3kc{
    background: var(--color2);
    width: 60%;
    min-height: 350px;
    border-radius: 0 10px 10px 0;
}

/*Badges*/
.profileBadges-2vWUYb{ /*when u have too many badges*/
    flex-wrap: wrap;
    flex-flow: row wrap;
}

/*those userinfo plugins*/

.user-details-text {
    position: absolute;
    right: -500px;
    top: -120px;
    text-align: right;
}

/*USRBG*/
.header-QKLPzZ .wrapper-3t9DeA::after {
    content:'';
    position:absolute;
    top:-20px;
    left:-20px;
    width:320px;
    height: 350px;
    opacity:1;
    pointer-events:none;
    background: var(--user-background) center/cover no-repeat;
    z-index: 0;
    border-radius: 10px 0 0 10px;
    mask-image: linear-gradient(90deg, #000c, #0002); /*vscode thing*/
    -webkit-mask-image: linear-gradient(90deg, #000c, #0002);
}
  
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs,
.topSectionNormal-2-vo2m *, .topSectionSpotify-1lI0-P *, .topSectionPlaying-1J5E4n *, .topSectionStreaming-1Tpf5X *{
    z-index: 1;
}



/* Commom popout modal */

/*Header and body*/
:root .modal-yWgWj-, :root .root-1gCeng{
    background: var(--color2);
    box-shadow: unset;
    border-radius: 10px;
}

.modalCloseButton-2As5x-{
    z-index: 2;
}

.art-2gnmb7{
    display: none;
}

.header-2kr4wt, .content-2oypg3{
    text-align: center;
}

/*Footer*/
:root .footer-2gL1pp{
    background: transparent;
    box-shadow: none;
    padding: 0;
    min-height: 45px;
    border-radius: 0;
    overflow: hidden;
    border-radius:  0 0 10px 10px;
}

:root .footer-2gL1pp > button{
    width: auto;
    flex-grow: 1;
    box-shadow: none !important;
    border-radius: 0;
    height: auto;
}

:root .footer-2gL1pp > .lookLink-9FtZy-{
    background: #fff1;
}

.cancelButton-22CHvF{
    margin-right: 0;
}

/* Search popout */
:root .container-3ayLPN{
    background: var(--color4);
    box-shadow: none;
}

/*Options*/
.option-96V44q{
    padding: 0 20px;
    margin: 0;
    border-radius: 0;
}

.option-96V44q:after{
    display: none;
}

:root .option-96V44q.selected-rZcOL-{
    background: var(--color1);
}

/*Datepicker (yeah this exist)*/
:root .calendarPicker-2yf6Ci .react-datepicker{
    background: transparent;
    border-radius: 0;
}

:root .calendarPicker-2yf6Ci .react-datepicker__day--disabled, :root .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, :root .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled{
    background: transparent;
}

:root .calendarPicker-2yf6Ci .react-datepicker__day{
    border-color: var(--colornav);
}

:root .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z, :root .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after, :root .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, :root .calendarPicker-2yf6Ci .react-datepicker__day:hover{
    background: var(--main-color);
}

:root .calendarPicker-2yf6Ci .react-datepicker__header{
    background: transparent;
}

.calendarPicker-2yf6Ci .react-datepicker__current-month{
    border-bottom: none;
}

:root .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, :root .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous{
    border: none;
    border-radius: 50%;
}

:root .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next:hover, :root .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous:hover{
    background: var(--epicshadow1);
}

/* Powercord toast*/

.powercord-toast{
    background: var(--color1);
    min-width: 400px;
    max-width: 600px;
    border-radius: 7px;
    border: unset;
    transition: all 200ms;
    overflow: hidden;
    padding-left: 6px;
    box-shadow: 0 0 20px 0 #111;
}

/*Header*/
.powercord-toast .header{
    background: transparent;
    box-shadow: unset;
}

.powercord-toast .icon::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 8px;
    background: currentColor;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
}

.powercord-toast[data-toast-type=info] .icon{
    color: #419e85;
}

/*Contents*/
.powercord-toast .contents .inner{
    background: var(--color2);
    border:none;
}

.powercord-toast .progress-2XXRYo{
    width: calc(100% - 6px);
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
    background: transparent !important;
    border-radius: 0;
}

.progressBar-3u8FBM{
    opacity: .2;
    height: 100%;
}

/* Expolre public servers */

/*Sidebar*/
.sidebar-2K8pFh{
    background: var(--color1);
}

.categoryItem-3zFJns{
    margin: 0;
}

.scrollerBase-289Jih[dir="ltr"]{
    overflow: hidden auto !important;
}

.scrollerBase-289Jih[dir="ltr"] .layout-2DM8Md{
    width: calc(100% - 44px);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
    background: var(--epicshadow1);
}

/*Page wrapper*/
:root .pageWrapper-1PgVDX{
    background: var(--color2);
}

:root .card-3DjzTQ, :root .iconMask-3b8GzQ{
    background: var(--card);
}

:root .card-3DjzTQ:hover, :root .card-3DjzTQ:hover .iconMask-3b8GzQ, :root .iconMask-3b8GzQ:hover, :root .iconMask-3b8GzQ:hover .iconMask-3b8GzQ{
    background: var(--color1);
}

/* Server boost */

.root-3R2ngo{
    top:0;
    left:calc(90px + 240px);
    contain: unset;
}

:root .perksModal-fSYqOq{
    background-color: var(--color2);
}

.root-3R2ngo .closeButton-1tv5uR::before{
    left:-330px;
    width: 330px;
    top:0;
}

.exitActive-JZFsGn, .exitDone-2Q591Q {
    display: none;
}

/*Card*/
:root .ctaBar-2UsjF2{
    background: var(--color1);
    border-radius: 10px;
}

/*Slide*/
:root .tierMarkerBackground-3q29am, :root .barBackground-2EEiLw{
    background: var(--color4);
}

.tierMarkerBackground-3q29am{
    z-index: -10;
}

.progressBar-2Hd4f8{
    z-index: 1;
}

.bar-_YsHvC{
    border-radius: 0;
}

.tierMarkerInProgress-24LMzJ{
    background: var(--color2) !important;
}

/*Carousel*/
.carouselContainerVisible-1JVIpW{
    left: -15%;
}

:root .tierHeaderUnlocked-1n-OTI{
    background: #b377f3;
}

:root .tierBody-16Chc9{
    background: var(--color1);
}

:root .tierHeaderLocked-1s2JJz{
    background: var(--color4);
}

:root .tierUnlocked-25K6Kv{
    background: #0006;
    color: #fff;
}

/*Perks*/
:root .perk-2WeBWW{
    background: var(--color1);
}

/* Golive */

/*Picture-in-picture*/
.pictureInPictureWindow-1B5qSe{
    z-index: 10000;
}

.pictureInPictureVideo-2iKsGg .container-1r6BKw{
    width: 100%;
}

/*Panel*/
.activityPanel-28dQGo{
    height: 0;
    visibility: hidden;
    padding: 0;
}

.activityPanel-28dQGo .button-38aScr{
    position: absolute;
    bottom:121px;
    left:167px;
    z-index: 1;
    visibility: visible;
}

.activityPanel-28dQGo .button-38aScr::before{
    content: "";
    position: absolute;
    top:0;
    left:-100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--color1), var(--color1));
    z-index: -2;
    pointer-events: none;
}

/*Modal*/
.card-2Mz_4z{
    border:none;
    background: var(--color1);
}

.item-3T2z1R{
    border: none;
    background: var(--color1);
}

.selectorButtonSelected-t5V9On{
    background: var(--main-color);
}

/* No Internet
.app-1q1i1E > div:nth-child(2){
    display: none;
}

.app-1q1i1E > div:nth-last-child(2) .content-98HsJk{
    top: 30px;
    background: var(--color2);
    transition: top 200ms;
    position: relative;
}

.app-1q1i1E > div:nth-last-child(2) .content-98HsJk::before{
    content: "Disconnected. Reconnect to keep the conversation going.";
    position: absolute;
    top: -30px;
    left:0px;
    width: 100%;
    height: 30px;
    background: #f04747;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    z-index: 2;
}

.app-1q1i1E > div:nth-last-child(2) .search-36MZv-, .app-1q1i1E > div:nth-last-child(2) .inner-2P4tQO{
    top: 30px;
} */

/*
  ==> Keyframes <==
*/

@keyframes sidebarStatusTransalteX {
    from{
        transform:translateX(-15%);
        -webkit-transform:translateX(-15%);
        -moz-transform:translateX(-15%);
        -ms-transform:translateX(-15%);
        -o-transform:translateX(-15%);
}
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
}
}

@keyframes sidebarStatusTransalteXReverse {
    from{
        transform:translateX(15%);
        -webkit-transform:translateX(15%);
        -moz-transform:translateX(15%);
        -ms-transform:translateX(15%);
        -o-transform:translateX(15%);
}
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
}
}

@keyframes fade {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@keyframes zoom{
    from{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
} to {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@keyframes callzoom{
    from{
        background: var(--color2);
        margin: 0;
        border-radius: 0;
        opacity:0;
    } to {
        background: var(--color1);
        margin: 15px;
        border-radius: 10px;
        opacity:1;
    }
}

@keyframes blink{
    79%{
        content: ">_<";
    }
    80%{
       content: "-_-";
    }
    90%{
        content: ">_<";
    }
    100%{
        content: "-_-";
    }
}
